@font-face {
  font-family: 'MyCustomFont';
  src: url('Belanosima/Belanosima-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'textfont';
  src: url('Kantumruy_Pro/static/KantumruyPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
    text-decoration: none;
    color: #442D1C;
}

a:hover {
    color: #84592B;
    cursor: pointer;
}

textarea {
  width: 90%;
  box-sizing: border-box;
  height:50vh;
  resize: none;
  font-family: textfont;
  /* margin-left: 10%; */
}

body {
    background-color: #F4E0BE;
    font-family: textfont;
    color: #442D1C;
    margin: 0;
    padding: 0;
}

body.no-scroll {
  overflow-x: hidden;
  overflow-y: auto;    /* prevent bounce on mobile */
}

header {
    color: #442D1C;
    font-family: MyCustomFont;
    letter-spacing: 0.3rem;
    padding: 0.5%;
    margin-left : 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
  background-color: #442D1C;
  color: #efdab5;
}

h2 {
    color: #442D1C;
    font-family: MyCustomFont;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 0;
}

h3 {
    color: #442D1C;
    font-family: MyCustomFont;
    font-size: clamp(1.5rem,2vw, 2rem);
    margin: 0;
}

input {
  background-color: rgba(132, 89, 43, 0.2);
  border-color: #84592B;
  border-style: solid;
  font-family: textfont;
  color: #442D1C;
  height: 25px;
}

.subheader {
  color: #442D1C;
  font-family: MyCustomFont;
  font-size: small;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left : 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.buttonlink {
  background-color: #442D1C;
  color: #F4E0BE;
  font-family: MyCustomFont;
  font-size: small;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 8px;
  margin-right: 1%;
  margin-left: 1%;
}

.buttonlink:hover {
  background-color: #84592B;
  color:#F4E0BE;
  cursor: pointer;
}

.buttons {
  background-color: #442D1C;
  color: #F4E0BE;
  font-family: MyCustomFont;
  font-size: small;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 8px;
  margin-right: 1%;
  margin-left: 1%;
}

.buttons:hover {
  background-color: #84592B;
  cursor: pointer;
}

.buttoncontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:55%;
}

.linkcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:45%;
  margin-left: 4%;
}

.page {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10%;
    margin-bottom: 2%;
    background-color: #F4E0BE;
    position:relative;
    z-index : 1;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.pagetop {
  display: flex;
  align-items: flex-start;
}

.carousel {
  margin: 1%;
  margin-top: 5%;
  background-color: #efdab5;
  border-radius: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:5%;
    position:relative;
    /* z-index : 1; */
    background-color: rgba(236, 214, 176, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 15px;
    /* /* margin-top: 30%; */
    padding:5%;
    /* opacity: 0.5; */
}

.acc_container {
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 75%
}

.show-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.show-password label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.coverbg {
  margin-top: -100vh;
  display: flex;
  /* width: 100%; */
  /* width: 100vh; */
  height: 150vh;
  /* overflow: hidden; */
  position: relative;
  z-index: -1;
  /* overscroll-behavior: none; */
  /* object-fit: cover;   */
  /* object-position: center; */
}

.textcontainer {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
}

.requestcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

.requestcontainer > div {
  flex: 1 1 0;
  min-width: 0;
}

.requestinner {
  margin-left: 10%;
  /* margin-left:auto; */
}

.menucontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
}

.menuitem {
  /* flex: 1 1 250px; */
  text-align: center;
  align-items: center; 
  background: #F4E7CE;
  flex: 1 1 250px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

@media screen and (max-width: 700px) {
  .requestcontainer {
    display: block;
    width: 100%;
    /* place-items: center; */
  }

  .requestinner {
    margin-left: 0;
  }

  textarea {
    /* width: 70vh; */
    height:30vh;
  }
}

@media screen and (max-width: 900px) {
  .subheader {
    display: block;
  }

  .buttons {
      margin-right: 0;
      margin-left: 0;
    }

  .buttoncontainer {
    width: 100%;
    margin-bottom: 1%;
  }
  
  .linkcontainer {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }

  .acc_container {
    width: 90%
  }

  .container {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 12%;
  }

  /* textarea {
    width: 50vh;
  } */

}

/* menu carousel */

.slider-wrapper{
    overflow: hidden;
    margin: 0 70px 55px;
}

.card-item{
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #F4E7CE;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.user-image{
    /* width: 150px; */
    height: 150px;
    /* border-radius: 50%; */
    margin-bottom: 40px;
    /* border: 3px solid #fff; */
    padding: 4px;
}

.swiper-pagination-bullet{
    background: #84592B;
    height: 13px;
    width: 13px;
    opacity: 0.5;
}

.swiper-pagination-bullet-active{
    opacity: 1;
}

.swiper-slide-button{
  color: #442D1C;
}

.swiper-slide-button:hover{
  color: #84592B;
}

@media (max-width: 768px) {
    .slider-wrapper{
        margin: 0 10px 40px;
    }
}