@font-face {
  font-family: 'MyCustomFont';
  src: url('Belanosima/Belanosima-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'textfont';
  src: url('Kantumruy_Pro/static/KantumruyPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
    text-decoration: none;
    color: #442D1C;
}

a:hover {
    color: #84592B;
    cursor: pointer;
}

body {
    background-color: #F4E0BE;
    font-family: textfont;
    color: #442D1C;
    margin: 0;
    padding: 0;
}

header {
    color: #442D1C;
    font-family: MyCustomFont;
    letter-spacing: 0.3rem;
    padding: 0.5%;
    margin-left : 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    color: #442D1C;
    font-family: MyCustomFont;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 0;
}



input {
  background-color: rgba(132, 89, 43, 0.2);
  border-color: #84592B;
  border-style: solid;
  font-family: textfont;
  color: #442D1C;
  height: 25px;
}

.subheader {
  color: #442D1C;
  font-family: MyCustomFont;
  font-size: small;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left : 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.buttonlink {
  background-color: #442D1C;
  color: #F4E0BE;
  font-family: MyCustomFont;
  font-size: small;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 8px;
  margin-right: 1%;
  margin-left: 1%;
}

.buttonlink:hover {
  background-color: #84592B;
  color:#F4E0BE;
  cursor: pointer;
}

.buttons {
  background-color: #442D1C;
  color: #F4E0BE;
  font-family: MyCustomFont;
  font-size: small;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 8px;
  margin-right: 1%;
  margin-left: 1%;
}

.buttons:hover {
  background-color: #84592B;
  cursor: pointer;
}

.buttoncontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:55%;
}

.linkcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:45%;
  margin-left: 4%;
}

.page {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10%;
    background-color: #F4E0BE;
    position:relative;
    z-index : 1;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.pagetop {
  display: flex;
  align-items: flex-start;
}

.carousel {
  margin: 1%;
  background-color: #dcc69e;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:-50%;
    position:relative;
    z-index : 1;
    background-color: rgba(244, 224, 190, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 15px;
    /* /* margin-top: 30%; */
    padding:5%;
    /* opacity: 0.5; */
}

.acc_container {
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 75%
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* for image carousels */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (width <= 900px) {
  .subheader {
    display: block;
  }

  .buttons {
      margin-right: 0;
      margin-left: 0;
    }

  .buttoncontainer {
    width: 100%;
    margin-bottom: 1%;
  }
  
  .linkcontainer {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }

  .acc_container {
    width: 90%
  }

  .container {
    margin-right: 15%;
    margin-left: 15%;
  }
}


.slider-wrapper{
    overflow: hidden;
    margin: 0 70px 55px;
}

.card-list .card-item{
    color: #fff;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-name{
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
}

.card-list .card-item .user-profession{
    font-size: 1.15rem;
    color: #444;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .message-button:hover{
    background: rgba(255,255,255,0.1);
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #5372F0;
    height: 13px;
    width: 13px;
    opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.slider-wrapper .swiper-slide-button{
    color: #5372F0;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover{
    color: #4658ff;
}

@media (max-width: 768px) {
    .slider-wrapper{
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button{
        display: none;
    }
}