<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Service Worker -->
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log('Service Worker Registered'))
        .catch(err => console.error('Service Worker Registration Failed:', err));
    }
    </script>


<body>
    <header>
        <img src="{{ url_for('static', filename='bakery.png') }}" alt=""width="50px"">
        <h1 style = "text-align: left; margin-left: 1%;">NAME OF BAKERY</h1>
        <a style="margin-left: auto;">
            <a href="logout"style="margin-left: auto;">logout</a>
            <img src="{{ url_for('static', filename='icons/cart.png') }}" alt=""width="50px">
        </a>
    </header>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

    <div class = "subheader">
        <div class = "buttoncontainer">
            <a class="buttonlink" href="/">HOME</a>
            <a class="buttonlink" href="menu" >MENU</a>
            <a class="buttonlink" >CUSTOM</a>
        </div>
        <div class = "linkcontainer">
            <a href="menu#cakes">CAKES</a>
            <a href="menu#breads">BREADS</a>
            <a href="menu#pies">PIES</a>
            <a href="menu#cookies">COOKIES</a>
            <a href="menu#others">OTHERS</a>
        </div>
    </div>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>
    <div style="margin-left: 5%; margin-top: 2%; margin-right: 5%;">
        <h3 style="margin-bottom: 2%;">{{ name }}'s cart</h3>
        <div>
            <div>
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for item in usercart %}
                    <tr class="cartrow">
                        <td><img style='height: 100px;' src="{{ url_for('static', filename='items/' ~ item['product_name'] ~ '/logo.png') }}"></td>
                        <td><a href="{{ url_for('product', pID=item['product_ID'], name=item['product_name'], price=item['price']) }}">{{ item['product_name'] }}</a></td>
                        <td>
                            <form id="order_quantity">
                                <select name="quantity" id="quantity" data-price="{{ item['price'] }}" style="width: 100px;">
                                    <option value="{{ item['amount'] }}" disabled selected hidden>{{ item['amount'] }}</option>
                                    {% for i in range(1,  21) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                        <td>
                            <span id="totalprice">${{ item['price']*item['amount'] }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <a href="menu">order more</a>                
            </div>
            <div>
                <h3>total with GST</h3>
                <h2 id="GSTtotal"></h2>
                <button type="submit" form="order_quantity" class="buttonlink">place order</button>            
            </div>            
        </div>
        

        
<!-- <a href="menu" class="buttonlink" style="padding-right: 5%;padding-left: 5%;margin-left: 0;margin-top: 5%;">SHOP FOR MORE</a>         -->
    </div>
    <script>
        const quantities = document.querySelectorAll('#quantity');
        const totals = document.querySelectorAll('#totalprice');

        function updateGSTTotal() {
            let subtotal = 0;

            totals.forEach(total => {
                subtotal += parseFloat(
                    total.textContent.replace('$', '')
                );
            });

            document.getElementById("GSTtotal").textContent =
                '$' + (subtotal * 1.1).toFixed(2);
        }

        quantities.forEach((select, index) => {
            select.addEventListener('change', function() {
                const price = parseFloat(this.dataset.price);
                const quantity = parseInt(this.value);

                totals[index].textContent =
                    '$' + (price * quantity).toFixed(2);
                updateGSTTotal();
            });
        });

        // document.getElementById("GSTtotal").textContent = Math.sumPrecise(totals)*1.1;
        updateGSTTotal();
    </script>

</body>
</html>