<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Service Worker -->
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log('Service Worker Registered'))
        .catch(err => console.error('Service Worker Registration Failed:', err));
    }
    </script>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='bakery.png') }}" alt=""width="50px"">
        <h1 style = "text-align: left; margin-left: 1%;">京PASTRIES</h1>
        <a href="cart" style="margin-left: auto;">
            <img src="{{ url_for('static', filename='icons/cart.png') }}" alt=""width="50px">
        </a>
    </header>

    <div style = "border-bottom: 2px solid #c7aa8a; margin-left : 2%; margin-right: 2%;"></div>

    <div class = "subheader">
        <div class = "buttoncontainer">
            <a class="buttonlink">HOME</a>
            <a href="/menu" class="buttonlink">MENU</a>
            <a href="/custom" class="buttonlink">CUSTOM</a>
        </div>
        <div class = "linkcontainer">
            <a href="menu#cakes">CAKES</a>
            <a href="menu#breads">BREADS</a>
            <a href="menu#pies">PIES</a>
            <a href="menu#cookies">COOKIES</a>
            <a href="menu#others">OTHERS</a>
        </div>
    </div>

    <div style = "border-bottom: 2px solid #c7aa8a; margin-left : 2%; margin-right: 2%;"></div>

    <div>
        <img src="{{ url_for('static', filename='front.png') }}" alt="" style = "margin-top: 1%;width:100%; height:20%"> 
    </div>

    <div class = "page">
        <div class = "pagetop">
            <div class = "textcontainer" style="padding-left: 5%;">
                <h2>WELCOME TO 京PASTRIES</h2>
                <p style = "width: 60%;"">We are located in the heart of Sydney, we specialize in handcrafted, slow-fermented sourdough and delicate pastries. We believe in baking from scratch using only the finest local ingredients and traditional techniques.</p>
                <!-- <a class="buttonlink" style="width:40%;">contact us</a> -->
            </div>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style = "margin-left: auto; padding-right:5%; width: 40%;max-width: 300px;">
        </div>

        <div class="carousel">
            <h3 style="margin:2%; padding-top:2%">BEST SELLERS</h3>
            <div class="swiper">
                <div class="slider-wrapper">
                    <div class="card-list swiper-wrapper">

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/Vanilla Cake/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">Vanilla Cake</h3>
                            <a href="{{ url_for('product', pID=1, name='Vanilla Cake', price=70, ingredients='Flour, Sugar, Butter, Eggs, Milk, Baking Powder, Vanilla Extract, Salt', desc='A soft and fluffy vanilla sponge cake with a rich buttery flavor, perfect for any celebration.') }}" class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/Eggtarts/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">Eggtart</h3>
                            <a href="{{ url_for('product', pID=23, name='Eggtarts', price=8, ingredients ='Puff Pastry, Eggs, Milk, Sugar, Vanilla Extract', desc='A flaky pastry shell filled with smooth, creamy baked egg custard.') }}" class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/Macarons/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">Macarons</h3>
                            <a href="{{ url_for('product', pID=15, name='Macarons', price=2.75, ingredients = 'Almond Flour, Powdered Sugar, Egg Whites, Granulated Sugar, Food Coloring, Vanilla Extract', desc='Delicate almond meringue cookies filled with smooth flavored cream.') }}" class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/Banana Bread/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">Banana Bread</h3>
                            <a href="{{ url_for('product', pID=11, name='Banana Bread', price=22, ingredients='Bananas, Flour, Sugar, Butter, Eggs, Baking Soda, Vanilla Extract, Salt', desc='A moist banana loaf made with ripe bananas for natural sweetness and flavor.') }}" class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-slide-button swiper-button-prev"></div>
                <div class="swiper-slide-button swiper-button-next"></div>
            </div>
            <a href="menu" style="display: flex; justify-content: flex-end; padding-bottom:2%;margin-right: 2%;">view all</a>
        </div>
    </div>

    <footer>
        <img src="{{ url_for('static', filename='contact.png') }}" style="width: 20%;object-fit: contain;max-width: 200px;">
        <div style=" width: 100%;display: flex; justify-content: space-evenly;">
            <div style="width: 33%; ">
                <h4>CONTACT US</h4>
                <p style="display:flex; align-items: center;">
                    <img src="{{ url_for('static', filename='icons/phone.png') }}" style="width: 20px;">
                    phone number : 04305832829
                </p>
                <p style="display:flex;overflow-wrap: break-word;word-break: break-all;">
                    <img src="{{ url_for('static', filename='icons/mail.png') }}" style="width: 20px;">
                    email : jingpastries@gmail.com
                </p>
                <p style="display:flex; align-items: center;">
                    <img src="{{ url_for('static', filename='icons/address.png') }}" style="width: 20px;">
                    address : 236 Pacific Highway, Hornsby, NSW 2077
                </p>
            </div>
            <div style="width: 25%;">
                <h4>SOCIALS</h4>
                <p style="display:flex; align-items: center;word-break: break-all;">
                    <img src="{{ url_for('static', filename='icons/insta.png') }}" style="width: 20px;">
                    instagram : @jing_pastries</p>
                <p style="display:flex; align-items: center;word-break: break-all;">
                    <img src="{{ url_for('static', filename='icons/facebook.png') }}" style="width: 20px;">
                    facebook : JINGPASTRIES
                </p>
            </div>  
            <div style="width: 25%;">
                <h4>MENU ITEMS</h4>
                <p style="display:flex; align-items: center;">
                    <img src="{{ url_for('static', filename='icons/cake.png') }}" style="width: 20px;">
                    <a href="menu#cakes" class="afooter">cakes</a>
                </p>
                <p style="display:flex; align-items: center;">
                    <img src="{{ url_for('static', filename='icons/bread.png') }}" style="width: 20px;">
                    <a href="menu#breads" class="afooter">breads</a>
                </p>
                <p style="display:flex; align-items: center;">
                    <img src="{{ url_for('static', filename='icons/pie.png') }}" style="width: 20px;">
                    <a href="menu#pies" class="afooter">pies</a>
                </p>
                <p style="display:flex; align-items: center;">
                    <img src="{{ url_for('static', filename='icons/cookie.png') }}" style="width: 20px;">
                    <a href="menu#cookies" class="afooter">cookies</a>
                </p>
                
            </div>      
        </div>
    </footer>

    <script src="{{ url_for('static', filename='swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='carousel-home.js') }}"></script>
</body>
</html>