<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Service Worker -->
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log('Service Worker Registered'))
        .catch(err => console.error('Service Worker Registration Failed:', err));
    }
    </script>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='bakery.png') }}" alt=""width="50px"">
        <h1 style = "text-align: left; margin-left: 1%;">NAME OF BAKERY</h1>
        <a href="account" style="margin-left: auto;">
            <img src="{{ url_for('static', filename='profile.png') }}" alt=""width="50px">
        </a>
    </header>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

    <div class = "subheader">
        <div class = "buttoncontainer">
            <a href="/" class="buttonlink">HOME</a>
            <a href="/menu" class="buttonlink">MENU</a>
            <a href="/custom" class="buttonlink">CUSTOM</a>
        </div>
        <div class = "linkcontainer">
            <a href="page1">CAKES</a>
            <a href="page1">PIES</a>
            <a href="page1">BREADS</a>
            <a href="page1">COOKIES</a>
            <a href="page1">OTHERS</a>
        </div>
    </div>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

    <div>
        <img src="{{ url_for('static', filename='cover.png') }}" alt="" width="100%" style = "margin-top: 1%;"> 
    </div>

    <div class = "page">
        <div class = "pagetop">
            <div class = "textcontainer">
                <h2>WELCOME TO BAKERY NAME</h2>
                <p style = "width: 60%;"">dsaf dsa dfs sakfhksdaljf sdajsdf dsk fdsakfdjkasdf </p>
                <a class="buttonlink">contact us</a>
            </div>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="40%" style = "margin-left: auto;">
        </div>

        <div class="carousel">
            image carousel or smth bro...
            <div class="swiper">
                <div class="slider-wrapper">
                    <div class="card-list swiper-wrapper">

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/vanilla_cake/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">vanilla cake</h3>
                            <a class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/ice_cream_cake/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">ice cream cake</h3>
                            <a class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/eggtart/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">eggtart</h3>
                            <a class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/macaron/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">macarons</h3>
                            <a class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                        <div class="card-item swiper-slide">
                            <img src="{{ url_for('static', filename='items/banana_bread/logo.png') }}" alt="User Image" class="user-image" />
                            <h3 style="margin-bottom: 3%;">banana bread</h3>
                            <a class="buttonlink" style="padding-top:8px; padding-bottom: 8px;">BUY NOW</a>
                        </div>

                    </div>
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-slide-button swiper-button-prev"></div>
                <div class="swiper-slide-button swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='carousel.js') }}"></script>

</body>
</html>