<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Service Worker -->
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log('Service Worker Registered'))
        .catch(err => console.error('Service Worker Registration Failed:', err));
    }
    </script>

</head>
<body class="no-scroll">
    <div style="background-color: #fff8eb; padding-bottom: 0.5%;">
        <header>
            <img src="{{ url_for('static', filename='bakery.png') }}" alt=""width="50px"">
            <h1 style = "text-align: left; margin-left: 1%;">NAME OF BAKERY</h1>
            <a href="signup" style="margin-left: auto;">
                <img src="{{ url_for('static', filename='icons/cart.png') }}" alt=""width="50px">
            </a>
        </header>

        <div style = "border-bottom: 2px solid #c7aa8a; margin-left : 2%; margin-right: 2%;"></div>

        <div class = "subheader">
            <div class = "buttoncontainer">
                <a class="buttonlink" href="/">HOME</a>
                <a class="buttonlink" href="menu" >MENU</a>
                <a class="buttonlink" href="custom" >CUSTOM</a>
            </div>
            <div class = "linkcontainer">
                <a href="menu#cakes">CAKES</a>
                <a href="menu#breads">BREADS</a>
                <a href="menu#pies">PIES</a>
                <a href="menu#cookies">COOKIES</a>
                <a href="menu#others">OTHERS</a>
            </div>
        </div>
    <div style = "border-bottom: 2px solid #c7aa8a; margin-left : 2%; margin-right: 2%;"></div>

    </div>

    <div class="container">
        <h3>LOGIN</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" class="acc_container">
            <label>Email:</label>
            <input name="email" type="email" placeholder="Enter your email" required>

            <br>
            
            <label>Password:</label>
            <input id="myInput" name="password" type="password" placeholder="Enter password" 
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
            required title="Must contain at least one uppercase letter, one lowercase letter, one number, and one special character (@$!%*?&). Minimum 8 characters.">
            <div class="show-password">
                <label>
                    <input type="checkbox" onclick="myFunction()">
                    Show Password
                </label>
            </div>

            <br>

            <button type="submit" class="buttonlink">LOGIN</button>
        </form>
        <a href="signup">don't have an account? signup</a>
        
    </div>

    <img src="{{ url_for('static', filename='cover.png') }}" alt="" class="coverbg">

    <script src="{{ url_for('static', filename='script.js') }}" async></script>
</body>

</html>