<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Service Worker -->
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log('Service Worker Registered'))
        .catch(err => console.error('Service Worker Registration Failed:', err));
    }
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

<body>
    <header>
        <img src="{{ url_for('static', filename='bakery.png') }}" alt=""width="50px"">
        <h1 style = "text-align: left; margin-left: 1%;">NAME OF BAKERY</h1>
        <a href="account" style="margin-left: auto;">
            <img src="{{ url_for('static', filename='profile.png') }}" alt=""width="50px">
        </a>
    </header>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

    <div class = "subheader">
        <div class = "buttoncontainer">
            <a class="buttonlink" href="/">HOME</a>
            <a class="buttonlink" href="menu" >MENU</a>
            <a class="buttonlink" href="custom" >CUSTOM</a>
        </div>
        <div class = "linkcontainer">
            <a href="page1">CAKES</a>
            <a href="page1">PIES</a>
            <a href="page1">BREADS</a>
            <a href="page1">COOKIES</a>
            <a href="page1">OTHERS</a>
        </div>
    </div>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

<!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="{{ url_for('static', filename='items/vanilla_cake/1.png') }}" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="{{ url_for('static', filename='items/vanilla_cake/2.png') }}" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="{{ url_for('static', filename='items/vanilla_cake/3.png') }}" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

</body>
</html>