<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <header>
        <a href="index.html"><img src="{{ url_for('static', filename='bigIcon.png') }}" alt=""width="40px" style="float : left; margin-left :10px;"></a>
        <h1 style = "text-align: center;">School Assistant</h1>
    </header>

    <div class="week">
        <div class="day">
            <div class="daytitle">Monday</div>
            <div class="period">Period 1 : Mathz</div>
            <div class="period">Period 2 : Free</div>
            <div class="period">Period 3 : Free</div>
            <div class="period">Period 4 : English</div>
            <textarea class="notes" placeholder="Enter notes for Monday"></textarea>
        </div>

        <div class="day">
            <div class="daytitle">Tuesday</div>
            <div class="period">Period 1 : CT</div>
            <div class="period">Period 2 : Free</div>
            <div class="period">Period 3 : Free</div>
            <div class="period">Period 4 : English</div>
        </div>

        <div class="day">
            <div class="daytitle">Wednesday</div>
            <div class="period">Period 1 : SE</div>
            <div class="period">Period 2 : CT</div>
            <div class="period">Period 3 : Free</div>
            <div class="period">Period 4 : English</div>
        </div>

        <div class="day">
            <div class="daytitle">Thursday</div>
            <div class="period">Period 1 : Maths</div>
            <div class="period">Period 2 : Free</div>
            <div class="period">Period 3 : SE</div>
            <div class="period">Period 4 : English</div>
        </div>

        <div class="day">
            <div class="daytitle">Friday</div>
            <div class="period">Period 1 : Maths</div>
            <div class="period">Period 2 : Free</div>
            <div class="period">Period 3 : CT</div>
            <div class="period">Period 4 : English</div>
        </div>
    </div>

    <button id="save-notes-btn" style="position: fixed; bottom: 10px; left: 50%; transform: translateX(-50%); z-index: 1000;"> Save Notes <button></button>
</body>

</html>