<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <header>
        <a href="index.html"><img src="{{ url_for('static', filename='bigIcon.png') }}" alt=""width="40px" style="float : left; margin-left :10px;"></a>
        <h1 style = "text-align: center;">School Assistant</h1>
    </header>

    <h1>Insert Data into Database</h1>

    <form method="POST">

        <label for="data">Enter Data:</label>

        <input type="text" name="data" required>

        <button type="submit">Submit</button>

    </form>
</body>

</html>