<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- Service Worker -->
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(() => console.log('Service Worker Registered'))
        .catch(err => console.error('Service Worker Registration Failed:', err));
    }
    </script>

<body>
    <header>
        <img src="{{ url_for('static', filename='bakery.png') }}" alt=""width="50px"">
        <h1 style = "text-align: left; margin-left: 1%;">NAME OF BAKERY</h1>
        <a href="cart" style="margin-left: auto;">
            <img src="{{ url_for('static', filename='icons/cart.png') }}" alt=""width="50px">
        </a>
    </header>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

    <div class = "subheader">
        <div class = "buttoncontainer">
            <a class="buttonlink" href="/">HOME</a>
            <a class="buttonlink" href="menu" >MENU</a>
            <a class="buttonlink" >CUSTOM</a>
        </div>
        <div class = "linkcontainer">
            <a href="menu#cakes">CAKES</a>
            <a href="menu#breads">BREADS</a>
            <a href="menu#pies">PIES</a>
            <a href="menu#cookies">COOKIES</a>
            <a href="menu#others">OTHERS</a>
        </div>
    </div>

    <div style = "border-bottom: 2px solid #84592B; margin-left : 2%; margin-right: 2%;"></div>

    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap; margin-top: 5%;">
        <div>
            <div class="slideshow-container">
                <a class="prev" style="margin-left: auto;" onclick="plusSlides(-1)">&#10094;</a>
            <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <img src="{{ url_for('static', filename='items/' ~ name ~ '/1.png') }}" class="product_image">
                </div>

                <div class="mySlides fade">
                    <img src="{{ url_for('static', filename='items/' ~ name ~ '/2.png') }}" class="product_image">
                </div>

                <div class="mySlides fade">
                    <img src="{{ url_for('static', filename='items/' ~ name ~ '/3.png') }}" class="product_image">
                </div>

                <!-- Next and previous buttons -->
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <div style="display: flex;justify-content: center; margin-top: 5%;">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>                
            </div>

                
            <br>

            <!-- The dots/circles -->
            <!-- <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div> -->
        </div>

        <div style="width: 30%;">
            <h3> {{ name }}</h3>
            <h3> ${{ price }}</h3>
            <form method="POST">
                <div>
                    <label>Quantity:</label>
                    <select name="quantity" id="quantity" style="width: 100px;">
                        {% for i in range(1,  21) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button onclick="alert('Added to cart!')" type="submit" class="buttonlink" style="margin-top: 5%;">add to cart</button>
            </form>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- <script>
        const selectNode = document.getElementById("quantity");
        // Loop from 2020 to 2030
        for (let i = 1; i <= stock; i++) {
            let option = document.createElement("option");
            option.value = i;
            option.textContent = i;
            selectNode.appendChild(option);
        }
    </script> -->
</body>
</html>